# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.pid.lock

# dotenv files (secrets/keys)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage directory from testing
coverage/

# Output of build tools
dist/
build/

# Cache
.cache/
.tmp/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS metadata
.DS_Store
Thumbs.db

# Local history
.localhistory/
